.body {
  /*background-color: #0D0A17;*/
  background-image: url("QBBackground.jpg");
  width: 100%;
  height: 100%;
  margin: 0;
 border: 0 none;
 padding: 0;
}

.centre-image {
  width: auto;
  height: 38%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sidebar {
  width: 100%;
  top:16%;
  position: fixed;
  display: block;
  text-align: center;
}

.link {
  display: block;
  padding-bottom: 3px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 18pt;
  text-decoration: none;
}

.name {
  display: block;
  padding-bottom: 0px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 25pt;
  text-decoration: none;
}

.email {
  display: block;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: italic;
  font-size: 14pt;
  text-decoration: none;
}
