.body {
  /*background-color: #0D0A17;*/
  background-image: url("QBBackground.jpg");
  width: 100%;
  height: 100%;
  margin: 0;
 border: 0 none;
 padding: 0;
}

.centre-image {
  width: 60%;
  height: auto;
  display: block;
  position: fixed;
  top: 50%;
  left: 40%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /*margin-left: auto;*/
  /*margin-right: auto*/
}

.sidebar {
  width: 20%;
  height: auto;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  left: 80%;
}

.link {
  display: block;
  padding-bottom: 2px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 12pt;
  text-decoration: none;
}

.name {
  display: block;
  padding-bottom: 0px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: normal;
  font-size: 16pt;
  text-decoration: none;
}

.email {
  display: block;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-style: italic;
  font-size: 10pt;
  text-decoration: none;
}
